* {
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    margin: 0px;
}

body {
    background-color: antiquewhite;
}